@import "tailwindcss";
@import "./styles/global.css";

:root {
  --primary-color: #111827;
  --secondary-color: #4B5563;
  --accent-color: #059669;
}

@layer base {
  /* Custom Scrollbar for Chrome, Safari and newer Edge */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    transition: all 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(16, 185, 129, 0.2);
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.05) transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.3);
}
